<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

	<head>
	
		<title>Resultado</title>
	
	</head>

	<table class="container">
		<thead>
			<tr>
			    <th></th>
				<th>Imagem</th>
				<th>Título</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="resultado : ${resultados}">
			    <td><input onClick="window.location.href='/resultado'" type="submit" Value="Catalogar"></td>
				<td><img th:src="${resultado.urlimg}" alt=""></td>
				<td><span th:text="${resultado.titulo}"></span></td>
				<td><span th:text="${resultado.author}"></span></td>
			</tr>
		</tbody>
	</table>	
</html>