<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

	<head>
	
		<title>Resultado</title>
	
	</head>

	<body>
		<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="resultado : ${resultado}">
				<td><span th:text="${resultado.Author}"></span></td>
				<td><span th:text="${resultado.Titulo}"></span></td>
				<td><span th:text="${resultado.ImgUrl}"></span></td>
			</tr>
		</tbody>
	
</table>
	    	    
	</body>

</html>